[2015-11-11 19:40] ghost opened #1 "Undefined index: fbuser"
When using the app, Owncloud 8.2, apache2, mysql

Undefined index: fbuser at /var/www/owncloud/apps/fbsync/templates/part.settings.php#9

[2015-11-11 20:49] skjnldsv commented on #1
Hi!
Yep, totally forgot to remove that part of a previous version! :p
Thanks!

[2015-11-11 20:56] skjnldsv commented on #1
Fixed with commit ba2edb77b99f8954e1f4b5f0eaedd3c3f1daa581

[2015-11-11 20:56] #1 closed, assigned to skjnldsv

[2015-11-13 02:07] ghost opened #2 "Error loading facebook friends. Are you connected?"
I authenticate fine in the status page.
When I go to match all I get is, "Error loading facebook friends. Are you connected?"
I get several texts about my owncloud device trying to log in, but facebook seems to think it's a new device each time and tries to reauthenticate?
owncloud 8.2, mysql, apache2

[2015-11-13 05:56] skjnldsv commented on #2
Do you have a cookie on your root owncloud installation folder?
It should be called "cookie.tmp"
If not, maybe is it a permission issue.

Anyway, the cookie text file is only a temporary solution. I will probably find a better way or store the cookie in your owncloud data folder.

[2015-11-14 15:19] ghost commented on #2
That solved it.
touch /var/www/owncloud/cookie.tmp
chown www-data:www-data /var/www/owncloud/cookie.tmp

[2015-11-14 15:19] #2 closed, assigned to skjnldsv

[2015-11-19 19:51] skjnldsv commented on #2
Fixed on the 1.0.0.
You can delete your cookie on the root folder or move it into your data/{yourusername} directory!

Thanks for your help!

[2015-11-23 06:24] apg1980 opened #3 "Issue white screen after starting app - no fetching images"
Hello,

i am using oc 8.2.1 with
Apache to 2.4.17
PHP to 5.5.29
MySQL to 5.6.25

i found some errors in log:
[Mon Nov 23 06:58:52.128795 2015] [:error] [pid 19971] [client 10.10.20.10:59623] PHP Parse error:  syntax error, unexpected '*', expecting ',' or ';' in /OWNCLOUD-DATA/opt/bitnami/apps/owncloud/htdocs/apps/fbsync/controller/facebookcontroller.php on line 40

i edited the line to private $c

[2015-11-23 07:50] skjnldsv commented on #3
Hi @apg1980 !
Are you using contacts or contacts+?
On your screenshots, the app doesn't find any contacts. So no sync can be done.
Did you enabled at least one addressbook?

[2015-11-23 15:35] wayneward opened #4 "Parse error: syntax error, unexpected '*', expecting ',' or ';'"
i just get a white screen nothing displays on the logs i get

PHP Parse error:  syntax error, unexpected '*', expecting ',' or ';' in /var/www/owncloud/apps/fbsync/controller/facebookcontroller.php on line 40, referer: http://mydomain name/owncloud/index.php/apps/files/

[2015-11-23 16:09] skjnldsv commented on #4
Hi! Edit the line and replace "24*60*60" by "86400".
Your config doesn't support the "24*60*60".

Update is coming this afternoon.

See issue #3

[2015-11-23 16:09] #4 closed, assigned to skjnldsv

[2015-11-23 16:51] wayneward commented on #4
confirmed works well thank you :+1:

[2015-11-23 16:54] apg1980 commented on #3
i am using contacts.

[2015-11-23 17:14] skjnldsv commented on #3
Do you have at least one addressbook enabled?

[2015-11-23 17:35] skjnldsv commented on #3
I added errors messages on the last update.
Please try again and see if something changed! :)

[2015-11-24 12:18] skjnldsv commented on #3
@apg1980 Any news? :)

[2015-11-26 19:20] JorgeGama opened #5 "Redirect loop"
I installed this app on a fresh install of owncloud 8.2 and successfully activated it but when I try to use it with a non-admin account I am given a redirect loop error.

[2015-11-27 09:32] skjnldsv commented on #5
Hi!!
I'm only using an admin account. I will try to reproduce the bug on my system.
Thanks for reporting this bug! :)

[2015-11-27 09:34] skjnldsv commented on #5
Bug reproduced! Working on the fix right now.

[2015-11-27 10:20] valentin8709 opened #6 "Bug: birthday Sync"
After sync, all my contacts have the same birthday... Here is what I found in owncloud logs:

filemtime(): stat failed for /media/DATA/valou/cache/show-contacts-foto-20 at /var/www/owncloud/lib/private/files/storage/local.php#156
filemtime(): stat failed for /media/DATA/valou/cache/editphoto at /var/www/owncloud/lib/private/files/storage/local.php#156
filemtime(): stat failed for /media/DATA/valou

[2015-11-27 10:30] #5 closed, assigned to skjnldsv

[2015-11-27 10:35] skjnldsv commented on #6
Hi! Thanks for posting this here! :)
Which date is set as birthday? Does it match with at least one contact?
Are you using an admin account or a regular one?

[2015-11-27 10:35] skjnldsv commented on #5
Here you go! :)
Sorry for the bug, thanks for finding it! ;)

[2015-11-27 10:38] valentin8709 commented on #6
It is 27, november 2015 (the sync date infact...). I'm using an admin account.

[2015-11-27 11:02] skjnldsv commented on #6
Could you try a sync after updating this release?
https://1fichier.com/?hrfnf7zf4d

I modified the output of the birthdaysand disabled the contacts data saving.
So when you will sync, the contacts miniatures will have the exact text taken from the facebook instance in their tooltip.

Please give me the tooltips data :)

![capture d ecran_2015-11-27_12-01-42](https://cloud.githubusercontent.com/ass

[2015-11-27 11:29] valentin8709 commented on #6
The app tells my contacts already have a birthday... So I deleted a birthday for one contact, and now I have an infinite sync =(

[2015-11-27 12:34] skjnldsv commented on #6
Infinite sync? Like it keep the sync screen on?
If so, there should be an error. Open the console (F12 on chrome) and check for errors on the "console" tab! :)

[2015-11-28 00:10] valentin8709 commented on #6
Okay sync works now... but I have a "false" instead of birthday:
![fb_sync_bug](https://cloud.githubusercontent.com/assets/6785619/11449198/c028aca4-956c-11e5-979a-fa5343073aff.png)

[2015-11-28 08:17] skjnldsv commented on #6
That's what I wanted!
Pretty strange. Maybe your facebook seup is different than mine. I'm loking into it :)

[2015-11-28 08:22] skjnldsv commented on #6
Okay, the false should come from the function getBirthday($fbid)
located here: https://github.com/skjnldsv/Owncloud-FBSync/blob/master/controller/facebookcontroller.php#L239

Could you replace the 4 "return false"on this function with 1, 2, 3 and 4.
And tell me which one appear on the tooltip, :)
Thanks for your patience.

[2015-11-28 12:56] valentin8709 commented on #6
If I have understood well, you want me to replace "return false;" by "return 1;" for the 4 return in the function getBirthDay() (then try with 2, 3, 4) ?
Another point: The birthday is not fixed, I checked today and all my contacts have november, 28th as birthday... So it just prints the current date.

No problem, I really like your app so I will do (almost) anything to have a stable version =)

[2015-11-28 13:04] skjnldsv commented on #6
Yep, exaclty :)
Whatever order you chose for the 1, 2, 3, 4. The point is just to differenciates the returns so I can know where it doesn't work

[2015-11-28 13:08] valentin8709 commented on #6
I tried with the lase version (1.4), tried return 1; (2, 3, 4, and false) and all my contacts are ignored in the sync...
Also, could you do an option to erase every birthday for all contacts?

Thank you for your help and your work =)

[2015-11-28 14:07] skjnldsv commented on #6
Did you delete one birthday like your previous test?
And no problem, will do a button to remove al picture and all birthdays. Good idea! :)

[2015-11-28 16:41] skjnldsv commented on #6
Found it!
Please update and report again :)

[2015-11-28 16:44] #6 closed, assigned to skjnldsv

[2015-11-28 17:30] valentin8709 opened #7 "No birthday found"
Hi again,
Sorry but I have another bug =/

I installed the last version (1.5), and remove all birthday with your new feature. Then I sync birthdays and have 100% errors: "No birthday found" for each contact. I checked on Facebook and people have registered their birthday.

Any idea where this bug come from?

[2015-11-28 18:16] skjnldsv commented on #7
No problem! :)
Okay, so this is definitely coming from facebok this time!
I can definitely  see this with you, but I will need very specific details. Because i'm parsing the facebook page output to get info, I will need the source code returned by one of the request made by my app on your system!

Install this version: https://1fichier.com/?wtdk42x3s0
Go into fbsync/templates/debug.php
In the line

[2015-11-29 12:21] skjnldsv commented on #7
@valentin8709 Any news? :p

[2015-11-29 15:35] valentin8709 commented on #7
Sorry I can't check that for now, I'll test tomorrow =)

[2015-11-30 18:31] valentin8709 commented on #7
Okay that's what I got:
![screenshot from 2015-11-30 19 30 03](https://cloud.githubusercontent.com/assets/6785619/11480650/d7b72c46-9798-11e5-9336-60ce70707b12.png)

Indeed it's different from you, can you tell me what to change in the php file (and which file)?

[2015-11-30 20:58] skjnldsv commented on #7
Perfect! ;)
Thats what I wanted!
Fix coming next update!

Thank you very much.

[2015-11-30 21:01] valentin8709 commented on #7
Thank you =D

[2015-11-30 22:28] skjnldsv commented on #7
Well, this is going to be more difficult than planned! :/
Convert foreign languages dates is going to be a lot more hader than it was.

[2015-11-30 22:31] skjnldsv commented on #7
Trying to avoid using the api is hard! :(

[2015-11-30 22:39] valentin8709 commented on #7
Oh =/ Can I help? If you tell me what you have in input, and what you want in output, I can perhaps do that for you in php. Not sure but I can try...

[2015-11-30 22:48] skjnldsv commented on #7
Well, because I don't want to use the facebook api, I'm parsing the data outputted by facebook.
When using facebook ids or the name of your contacts, there's no languages issues.

But facebook outputs its birthdays with the defined language in your facebook feed.
I'm using the strtotime function for php, which try to convert a string into a date. But this function require an English date. So, eith

[2015-11-30 22:51] valentin8709 commented on #7
Oh so I just have to switch my Facebook in english? I'm trying that right now =)

[2015-11-30 22:51] skjnldsv commented on #7
Yes, it should works.
But its a very inconvenient way to do so. :)

[2015-11-30 22:57] valentin8709 commented on #7
No problem for that =) It works great now, thank you very much!

[2015-11-30 22:59] skjnldsv commented on #7
Well, maybe it's good for you. To be fair, I wouldn't mind changing my language to sync birthdays.
But if my goal is to provide the best app possible, I shouldn't be allowing myself to do so.

Maybe should I just put a warning saying you need to put English as default language just for the sync. Or automatically switch it and switch it backs to the original language. :/

[2015-11-30 23:03] valentin8709 commented on #7
Couldn't you do that in your program? I mean your app switching Facebook langage? As a result the user wouldn't see nothing =)

[2015-11-30 23:04] skjnldsv commented on #7
Yes, I guess i could. Not the best way to do that; but after all, you don't need to sync the birthdays everyday!

[2015-12-01 12:08] skjnldsv commented on #7
I finally decided to but a warning explaining you need to put your facebook in English for the bday sync to work.
I don't want to bother implementing some kind of dirty coding to change language or so. :)

[2015-12-01 12:08] #7 closed, assigned to skjnldsv

[2015-12-01 12:51] skjnldsv commented on #3
@apg1980 Hello? Please update.

[2015-12-14 00:37] enoch85 opened #8 "App works bad on 8.2.1"
Hi, great app. Been looking for something like this for a while now. I tested it and it works, but it works pretty bad. One thing was that the pictures weren't shown in the app, but when I looked in the contacts app, all the pictures where synced. I also had to run it several times to sync all the contacts, plus I had to clear cache.

When I run it it produced a **MASSIVE** owncloud error log of *

[2015-12-14 18:45] skjnldsv commented on #8
Hi!!
Thanks for reporting the issue here! :)
The "Non-static method OCA\FbSync\JaroWinkler::getCommonCharacters() should not be called statically at \/var\/www\/owncloud\/apps\/fbsync\/lib\/jarowinkler." is definitlely fbsync related.

But the error above isn't.
I'm going to fix this asap!

Regards.

[2015-12-14 18:54] skjnldsv commented on #8
Also, could you give me your "error_reporting" setting in your php.ini?
You shouldn't have that many error in your logfile.

[2015-12-14 20:19] enoch85 commented on #8
@skjnldsv Here you go: `error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT`

[2015-12-14 20:24] enoch85 commented on #8
Also, all the `"app":"PHP","message":"Undefined index: lastname at \/var\/www\/owncloud\/apps\/fbsync\/lib\/vcard.php` with different indexes is also something you have to fix.

[2015-12-14 21:06] skjnldsv commented on #8
Okay, it's strange that you get all those errors. Mine is also set to E_ALL & ~E_DEPRECATED & ~E_STRICT, and I don't get that much!
I started cleaning the errors. A small update is coming!

[2015-12-14 21:52] skjnldsv commented on #8
Done, it should fix most of your errors.
Could you try and tell me if there's any more left?

[link removed]

[2015-12-14 22:58] enoch85 commented on #8
@skjnldsv Can you release it on apps.owncloud.com instead? I have PHP 7 on my testing system and the app don't work with PHP 7. Maybe something to fix as well ;)

[2015-12-14 23:11] enoch85 commented on #8
Btw, you should also add a `logout button` from Facebook. It said connected even if I uninstalled the app. And also clear the DB when you uninstall, or maybe a button for that.

[2015-12-14 23:18] enoch85 commented on #8
Ok, so I tested on my production system. Still bad:

![image](https://cloud.githubusercontent.com/assets/14975046/11819307/6f8cf358-a35f-11e5-9031-5e1792ebebda.png)

![image](https://cloud.githubusercontent.com/assets/4511254/11797101/2279f974-a2c1-11e5-8c9a-a3e08890cfd6.png)

Ok, so the owncloud.log is _only_ 1.7MB now: https://xxxxxxxxx/index.php/s/GvR2h43kZVkRgv0 Still too much!

And also, it d

[2015-12-15 08:04] skjnldsv commented on #8
Well, the source code is open and visible by anyone! :)
So if it wasn't secure, someone would have been reported this app by now!

This app is doing exactly the same thing as your desktop browser when you log in. It save a credential in your cookies. Except here, the cookie is located in your data/yourusername folder.

I see the error, I will publish the update on apps.owncloud later, I just wante

[2015-12-15 08:05] skjnldsv commented on #8
Can you update your owncloud log? It still the old one I think.

[2015-12-15 08:17] enoch85 commented on #8
Sorry, the old owncloud.log is deleted.

[2015-12-15 08:19] skjnldsv commented on #8
No problems.
Could you give me the url from one of the image?

[2015-12-15 08:19] enoch85 commented on #8
@skjnldsv What image?

[2015-12-15 08:21] enoch85 commented on #8
https://www.facebook.com/photo.php?fbid=959599830722052&set=a.155922534423123.33868.100000161316398&type=3&theater

[2015-12-15 08:23] skjnldsv commented on #8
No no , not a facebook url! Don't post that here :p

One of your contact picture (from the app). I want to see if the url is malformed.
Also, do you have contact or contacts+ enabled? Or both?

[2015-12-15 08:24] enoch85 commented on #8
@skjnldsv I removed the app, I just wanted to sync it once, but OK I can install it again. _sigh_ :)

[2015-12-15 08:29] enoch85 commented on #8
@skjnldsv DUDE, I changed my password, just because I was uncertain of the security. When I deinstalled the app, I also changed password on Facebook back to my regular.

Now when I install the app again it says that I'm connected, and I clicked just to test, and I got logged in. Is that suppose to happen? I have changed password!

[2015-12-15 08:30] enoch85 commented on #8
[image removed for privacy issue]

[2015-12-15 08:32] skjnldsv commented on #8
It's because the app doesn't store you password! it would be a security issue. It's the same as your browser. Try it! Log in, change password and refresh. You will still be connected, even if you changed your password.

No need to be rude. Thank you for your help. i will fix this later.
Regards.

[2015-12-15 08:33] enoch85 commented on #8
DUDE was more like ":)" Sorry if you felt offended.

[2015-12-15 08:34] skjnldsv commented on #8
My bad then. Thanks for your patience.

[2015-12-15 09:29] skjnldsv commented on #3
I'm closing this since this thread is dead.

[2015-12-15 09:29] #3 closed, assigned to skjnldsv

[2015-12-15 09:34] enoch85 commented on #8
:+1:

[2015-12-15 10:14] enoch85 commented on #8
Thanks for the fix, just tested. Now with tail -f on the log so that I can see when it gets triggered. I also cleared browser cache and history. Still connected with my old password, fyi :)

When I press on the fbsync icon to open the app:

[code]

When I press match contact (still no pictures):

[code]

When I pressed sync matched contacts (No pictures at all, not even thumbs)

[code]

I cleaned

[2015-12-15 10:17] enoch85 opened #9 "Add a logout button"
It would be nice to have a logout button, or to clear the cache some how. As described in #8 I changed the password, cleared the cache, uninstalled the app - but was still logged in.

[2015-12-15 10:19] enoch85 commented on #8
And btw, I have contacts and calendar enabled. Not the plus version.

[2015-12-15 17:52] #9 closed, assigned to skjnldsv

[2015-12-15 17:59] enoch85 commented on #9
Wow, you're fast ;) Nice work.

[2015-12-15 18:13] skjnldsv commented on #8
Well, that's inconvenient.
Will work on this later. Don't have the time right now.

You should consider lowering the error level on your owncloud config.

[2015-12-15 18:20] enoch85 commented on #8
It's `Loglevel 2` right now. Warnings, errors, and fatal issues.

[2015-12-15 18:28] skjnldsv commented on #8
What happen if you open a broken profile picture link in your browser?

[2015-12-17 20:58] #8 closed, assigned to skjnldsv

[2015-12-17 21:03] skjnldsv commented on #8
I fixed a lot, you shouldn't have the following errors anymore.
`Argument 5 passed to OCA\\FbSync\\App\\Contact::__construct() must be an instance of Sabre\\VObject, instance of OCA\\Contacts\\VObject\\VCard given, called in \/var\/www\/owncloud\/apps\/fbsync\/app\/contacts.php on line 57 and defined at \/var\/www\/owncloud\/apps\/fbsync\/app\/contact.php#61`
`Undefined index: lastname at \/var\/w

[2015-12-18 05:33] enoch85 commented on #8
Thanks, sorry that I didn't answer. I'm busy with moving a site.

[2015-12-21 17:01] m-mclean opened #10 "Backslashes being added to contact names after syncing profile pictures"
I'm encountering an issue where backslashes are being added to the names of my contacts after syncing their profile pictures. For example, "Foo Bar" will become "Foo Bar\".

I'm not seeing anything in the ownCloud logs related to this... I'm new to ownCloud, so I don't know if I should be looking at something specific. What sort of data can I provide that could be useful?

Ubuntu Server 14.04.3, M

[2015-12-21 20:47] skjnldsv commented on #10
Hi!
Hum, that's strange.
Could you download a single vcf card and check in which field is added a backslash?
Regards.

[2015-12-22 18:40] m-mclean commented on #10
I think I've figured this out, and the problem is (somewhat) unrelated to Fb Sync.

Like I've said earlier, I'm new to ownCloud. I imported my contacts from Google using a Google-formatted CSV. I tried a fresh import in that format and then downloaded the VCF from ownCloud. The ownCloud VCF has "Foo Bar" listed as the FN, and "Bar\;Foo;;;;" listed as the N. After linking Foo Bar to his Facebook ac

[2015-12-22 21:41] skjnldsv commented on #10
That's what I though too.
I don't touch the fields used for the names. And because I'm using some scripts from the contacts+ app, I would have found this pretty strange.

Glad everything's fine now! :)
Thanks for your feedback!

[2015-12-22 21:41] #10 closed, assigned to skjnldsv

[2015-12-28 11:45] sinus23 opened #11 "Error"
So i have aktivate contacts in OC, than i installed the app fbsync.
So if i klick on match contacts, oc error page
So if i klick on sync error too.
I started an update (8.2 to 8.2.x) so my cloud was broken...

[2015-12-28 12:34] KekcuHa opened #12 "Do not show photo thumbnails"
Doesn't show contacts photo both on "match contacts" and "sync matched" pages, but update photos.
![image](https://cloud.githubusercontent.com/assets/16463182/12018700/949050e2-ad77-11e5-8575-658c77645b8a.png)
![image](https://cloud.githubusercontent.com/assets/16463182/12018740/0fe5135e-ad78-11e5-8351-a3355bc3149a.png)

[2015-12-28 18:03] RobertSmits commented on #12
Same problem here.
I tried to look at the problem and I think i found it.
The action to get the picture returns not the picture but the picture url as json in combination with a refresh header to the picture url.
My guess is that for some reason the refresh header isn't working.

[2015-12-28 18:30] skjnldsv commented on #12
Hi!! Thanks for your interest in this app.
Strange indeed! I will try something else to support both contacts app without the redirect header!

[2015-12-28 18:31] skjnldsv commented on #11
Hi!
I'm gonna need more info. What are the errors?

[2016-01-04 15:17] #12 closed, assigned to skjnldsv

[2016-01-04 15:22] skjnldsv commented on #12
You should be good now! :)

[2016-01-07 12:44] enoch85 opened #13 "Use Facebooks API"
Great app, and thank you for the latest fixes, just tested it again, and no errors at all. NICE! Where can I donate?

As you stated yourself in the app, you don't use Facbooks API. This results in that you have to change language every time. Not so user friendly. Would it be possible to use their API in coming releases?

[2016-01-07 13:11] enoch85 commented on #13
Btw, my kudost to you! https://www.techandme.se/facebook-sync/

[2016-01-07 18:42] skjnldsv commented on #13
Hi!
Thank you so much for your kind words! :)
The problem with their api is the fiend list. It's limited to the contacts who have enabled the graph api option. A lot of people disable this option (like me) to protect your account (no more like/recommends on foreign websites, no more apps that can use your account...) But it also close a lot of data.

If I had to enable and integrate the Facebook A

[2016-01-07 18:43] skjnldsv commented on #11
Not enough informations.

[2016-01-07 18:43] #11 closed, assigned to skjnldsv

[2016-01-07 18:43] #13 closed, assigned to nobody

[2016-01-15 09:46] sinus23 opened #14 "Invalid Mimedir file. Line starting at 8 did not follow iCalendar/vCard conventions"
Sorry for the last Post.
Also i have hard Problems with your APP
So i installed this app correctly.
Aktivate and go to the app. The first side with Note & Linke here its okay,
but after i aktivate my FB Account and go to Match contact or sync i have an Clouderror.
onsole: Uncaught ReferenceError: oc_appconfig is not defined(anonymous function) @ shareconfigmodel.js?v=99c17cea184fe557d219f1c0e30c87

[2016-01-15 10:50] skjnldsv commented on #14
Hi!
It seems like you have a problem with one of your contacts.
Export your contacts as vcard, open it in a text editor and search for the line `UNKNOWN="MOBIL`
This contact doesn't follow the requirements of the vcard conventions. You need to edit this contact to fix your addressbook.

It's not due to my app :)
Keep me in touch.

[2016-01-15 12:21] sinus23 commented on #14
Sorry but this isnt correctly, while i havent any entries
![cfda9e98-bb8a-11e5-9fbf-c4e28e32f091](https://cloud.githubusercontent.com/assets/14975046/12353769/c4e8ff5a-bb91-11e5-8406-ed3a4f39f00e.png)

I dont know wher he find this entry, but in my Vcard nothing. I can not do anything similar to entries in the SQL find

EDIT: image blurred for privacy issue

[2016-01-15 12:54] sinus23 commented on #14
I droped the Database entries. so its ok now. Thanks for the tipp with contact cards. But I still do not know where he has taken the entry.

Many many thanks

[2016-01-15 13:13] skjnldsv commented on #14
So it's good now? :)

Ps: I've edited your image to blur personal data.

[2016-01-15 13:19] sinus23 commented on #14
I ´ve forgotten. Thanks. Yes it´s all good and works fine. Big Thx.

[2016-01-15 14:13] #14 closed, assigned to nobody

[2016-02-09 20:39] snakebiter opened #15 "Only 20 friends loaded from cache"
Hi. When I click dropdown 'Choose friend' that is located in contact card, I can see only small part (20) of my FB friends. Some of them not showing FB profile photo when choosen.

[2016-02-10 09:01] skjnldsv commented on #15
Hi!
Do you have any errors on your log file?
How many friends should it displays?

[2016-02-10 11:36] wrapper opened #16 "PHP Error prevents FB login"
I get the following error in OwnCloud log when I attempt to use this plugin:

curl_setopt_array(): CURLOPT_FOLLOWLOCATION cannot be activated when an open_basedir is set at /dir/owncloud/apps/fbsync/controller/facebookcontroller.php#91

[2016-02-10 11:57] skjnldsv commented on #16
Hi!
It's related to you php config. Please see http://stackoverflow.com/questions/6918623/curlopt-followlocation-cannot-be-activated

Keep me in touch :)
Regards.

[2016-02-10 12:08] wrapper commented on #16
Quite odd, I did look this up and safe_mode is set to off and the open_basedir is set appropriately (I believe). Where should it be set if not as specified above?

[2016-02-10 12:27] skjnldsv commented on #16
Good question. It may vary in a lot of configurations.
Did you reload your php config after your edit?

[2016-02-10 19:56] snakebiter commented on #15
OK. I found where the problem is. I'm not fluent in English, and I hope that this is enough to understand me ;-)

In `\OCA\FbSync\Controller\FacebookController::getfriends`
line 180 `$friends[(int)$matches[1]]=html_entity_decode($friend->innertext, ENT_QUOTES);`

You are casting matched FB uid to (int) to use it as array key. The problem is that I have small VPS running under 32-bit Debian. Castin

[2016-02-11 03:40] skjnldsv commented on #15
Nice catch! :)
I will remove this limitation to prevent further errors in the future!

Thanks for the kind words! ;)

[2016-02-11 03:40] #15 closed, assigned to skjnldsv

[2016-02-12 13:45] wrapper opened #17 "Unrecoverable error loading address books: Internal Server Error after syncing"
After installing the app and syncing with FB I get this error and can't CardDAV sync contacts anymore either.

Disabling app didn't fix it

[2016-02-12 14:35] wrapper commented on #16
Works after setting self_mode to off and disabling open_basedir

[2016-02-12 14:35] #16 closed, assigned to nobody

[2016-02-18 15:55] skjnldsv commented on #17
Hello!
I need more details about the error.
If you have an internal server error, you should be ale to get more details in your server logs.
Please reproduce and attach the log here (remove sensitive databefore posting it).

Regards.

[2016-02-21 20:45] wrapper commented on #17
Error looks like this:

`{"reqId":"12312321","remoteAddr":"xxx","app":"carddav","message":"Exception: {\"Message\":\"End of document reached prematurely\",\"Exception\":\"Sabre\\\\VObject\\\\EofException\",\"Code\":0,\"Trace\":\"#0 \\\/url\\\/url\\/url\\/default\\\/3rdparty\\\/sabre\\\/vobject\\\/lib\\\/Parser\\\/MimeDir.php(133): Sabre\\\\VObject\\\\Parser\\\\MimeDir->readLine()\\n#1 \\\/url\\\/u

[2016-02-22 13:17] skjnldsv commented on #17
What is your max_execution_time in your php settings?
Did you tried to revert the changes made to your php.ini?

[2016-02-22 15:39] wrapper commented on #17
I increased it to 300 (5 minutes). I also get this error:

`Allowed memory size of 536870912 bytes exhausted (tried to allocate 436736000 bytes) at /folder/folder/default/apps/contacts/lib/utils/jsonserializer.php#86`

That's using 500+ MB!

[2016-02-22 16:32] skjnldsv commented on #17
That's surprisingly high!
Can you try to export your contacts and check for inconsistent data? It seems that the contacts app is having trouble parsing the datas.

[2016-02-23 10:31] wrapper commented on #17
I believe the problem is all of the embedded photo data in the vcard file is causing loading issues. With the photo data my vcard file is over 180,000 lines.

Any idea how I remove all of the photo data?

[2016-02-23 10:56] skjnldsv commented on #17
If you can, fbsync has an option for that: https://yourdomain.com/index.php/apps/fbsync/contacts/delphotos

Make backups!!

Otherwize, you can try removing the PHOTO field in any text editors.

But it's strange, my contacts have a lot of pictures too, and I don't have any issue with 15k lines or more.

[2016-02-23 11:28] wrapper commented on #17
I have a vcard backup but not sure I have a db backup..

I tried to run that but all it returns is a 0

[2016-02-25 13:29] ggeorgg opened #18 "No connection to FB"
Hey!
Im trying to get your app working in my owncloud but it seems that the app is not connecting to facebook.
If I enter the right credentials I get a popup-message with "Connected to Facebook" like it should be (Owncloud-FBSync/js/login.js line 36).
The problem is, that it still shows "Facebook status: not connected" in the bottom left.

Furthermore I get an error-message in my admin log-file:
c

[2016-02-25 17:51] skjnldsv commented on #18
Hello! :)
It means you need to change your php settings.
open_basedir cannot be set for this app to work! :)

See https://github.com/skjnldsv/Owncloud-FBSync/issues/16#issuecomment-182333577

[2016-02-25 17:51] #18 closed, assigned to skjnldsv

[2016-02-26 09:24] ggeorgg opened #19 "No images when owncloud in subdirectory"
Not really an issue but a problem I had because I installed owncloud in a subdirectory.
The links to the images were broken so I replaced the following two lines in app/contact.php by:
    `line 241:      $photo = "../../apps/contactsplus/getcontactphoto/".$this->id;`
    `line 244:      $photo = "../../apps/contacts/addressbook/".`

And thank you for your previous answer in my other issue!

[2016-02-26 15:37] skjnldsv commented on #19
Hi!
Thanks, that could be a problem for some server settings indeed.
Thanks for your help.

[2016-02-28 20:13] ggeorgg opened #20 "No images when matching with owncloud after fresh installation"
Sorry it's me again.
I just played around a bit with your app and owncloud. After reporting issue #19 I wanted to setup a completly new owncloud instance and now I am not able to get images back when matching.

This time I used a subdomain oc.domain.de to avoid the error mentioned in #19.

System:
PHP 5.6 (CGI)
Owncloud 8.2.2 (installed with the web-installer)
MySQL 5.6.27

A link to an image is f

[2016-02-29 11:02] skjnldsv commented on #20
hi!
Are you sure the contact 44 has a correct photo?

[2016-02-29 11:03] skjnldsv commented on #17
Any news? Did you successfully removed your old PHOTO field from all of your contacts?

[2016-02-29 18:20] ggeorgg commented on #20
That was the problem. It was not a correct photo.

I exported my contacts from owncloud and opened it with notepad.
I had some contacts with a photo. Some of the lines began with `PHOTO;ENCODING=b;TYPE=image/jpeg:/9j/`, others began with `PHOTO:dataimage/jpegbase64/9j/`
Owncloud showed me an image when the line began with:
`PHOTO;ENCODING=b;TYPE=image/jpeg:/9j/`

I think the problem is that when I

[2016-02-29 19:03] skjnldsv commented on #20
Hum, maybe try another contact app on you phone?
The vCard Format Specification says you need to specify the encoding: https://tools.ietf.org/html/rfc6350#section-6.2.4

Maybe your contact app is using an old version of vcard? 2.0? 1.0?

[2016-02-29 19:08] ggeorgg commented on #20
Think my contact app uses vCard 2.0. Can see this when I export the contact list from my phone to my pc and open it with notepad. I will give this a try and I will inform you here if this helped.

[2016-02-29 20:12] ggeorgg commented on #20
Think this is the solution:
https://github.com/gvde/contacts/commit/3dadadbfb9ce4d5b6b3437b49e06656f4bbb0caa
In owncloud 8.2.2 is still an old version of the contacts app which doesnt deal right with vCard 4.0 or something like that. After changing the code like in the link I didn't had this problem anymore.
Thanks a lot to you and keep going with your app!
Great work!

[2016-03-01 03:42] skjnldsv commented on #20
Thank you very much! Glad you found the problem :)

[2016-03-01 03:42] #20 closed, assigned to skjnldsv

[2016-03-07 21:23] ggeorgg commented on #17
I also got an internal server error today when using your app to sync my contact pictures with my fb pictures again. I just removed index.php/apps/fbsync/status from my address line and I was redirected back to the files app. Now I get an internal server error when trying to match in your app again.
The first time I used your app no problems occured but today I got the following messages in the lo

[2016-03-07 22:11] ggeorgg commented on #17
So I have got two times this message `OCA\Contacts\Contact::retrieve Error parsing carddata for: 161 End of document reached prematurely` with two different numbers and I now just wanted to know what it is and so I counted the vcards in my .vcf file.
The vCards which are damaged are the only ones who have `PRODID:-//Sabre//Sabre VObject 3.4.7//EN`. All the other vCards have `PRODID:-//ownCloud//NO

[2016-03-08 05:31] skjnldsv commented on #17
Hi!
I can answer that! :)
Some users have reproduced the error. The problem with vcards si the compatibility between versions. the actual owncloud contact app use the last version (4.0) Some android roms uses the 2.0 or 3.0, newest version, the 4.0. I don't know for apple, but it may be similar.
And the problem when using different app to handle the same data is that some newer updated systems are

[2016-03-08 11:27] ggeorgg commented on #17
I really had some contacts with version 3.0 and some with version 4.0. So reimporting solved my problem and they are all on version 4.0 now.

Thanks for your replay! Great app and keep going ;)

[2016-03-08 13:03] ggeorgg opened #21 "filesize(): stat failed /apps/fbsync/controller/facebookcontroller.php#329"
`filesize(): stat failed for /www/htdocs/xxxxx/domain.de/owncloud/data/user/fbsync.cookie at /www/htdocs/xxxxx/domain.de/owncloud/apps/fbsync/controller/facebookcontroller.php#329`

Maybe this it would be better to check if the file does not exist:
`if(!file_exists($this->userHome.$this->cookieName)) {`

Otherwise I always get this error in my oc log when opening the fb app in owncloud when I am n

[2016-03-08 13:06] wrapper commented on #17
@skjnldsv the only solution I found was to remove the addressbook and reimport the vCard of my contacts into a separate one

[2016-03-08 19:41] skjnldsv commented on #21
Hi!
There was a reason. If the cookie exist but is empty, then the user can't be connected.
This avoid us to make a http request to see if the facebook user is connected.

(don't know if i'm very understandable :p)

[2016-03-08 20:27] ggeorgg commented on #21
Is there a possibility that this file exists and it is empty?
If I use the button to remove the stored credentials the file is deleted. And if this file does't exist, there will always be this filesize-error when trying to read the filesize of an non-exisiting file.
So either the file is there and it was created by clicking the login button and it is not empty or it is not there because the app ha

[2016-03-09 00:24] enoch85 opened #22 "Is the app compatible with 9.0.0?"
Get this after update: `This app has no maximum ownCloud version assigned. This will be an error in ownCloud 11 and later.`

And the app is automatically deactivated. You should try to get this Approved,

[2016-03-09 04:39] skjnldsv commented on #22
Not yet!
I will need to check everythings! :/

[2016-03-09 04:40] skjnldsv commented on #21
I understand perfectly! :)
There was a reason in the first releases, but I can't remember which ones! :p
i will see that for the next one.

[2016-03-09 05:24] skjnldsv commented on #22
Okay, maybe not everything, it shouldn't be too long i hope.
I need to fix the photos and the sync itself.

[2016-03-09 06:18] enoch85 commented on #22
Thanks!

[2016-03-12 07:38] #17 closed, assigned to skjnldsv

[2016-03-14 10:05] #21 closed, assigned to skjnldsv

[2016-03-14 10:08] skjnldsv commented on #22
Please test https://github.com/skjnldsv/Owncloud-FBSync/releases/tag/v1.8-beta
Make backups!

[2016-03-14 10:08] #22 closed, assigned to skjnldsv

[2016-03-14 10:10] skjnldsv commented on #19
Should be fixed. :)
Please test https://github.com/skjnldsv/Owncloud-FBSync/releases/tag/v1.8-beta

And report here if okay.

[2016-03-14 10:11] skjnldsv commented on #21
Fixed.
Please see and test (_do backups_)
https://github.com/skjnldsv/Owncloud-FBSync/releases/tag/v1.8-beta

[2016-03-14 16:04] enoch85 commented on #22
Thanks! Actually lost my phone to a pickpocket this weekend so I can't make a thorough test :/ Please announce the release of the beta so that others with ownCloud 9 can test.

[2016-03-14 17:14] skjnldsv commented on #22
Sorry to hear that. :/
I already did. The beta was a quick test, I had few feedbacks, it was enough.

[2016-03-14 21:45] ggeorgg commented on #19
I will test this when OC 9 will work a bit better. I don't like the new contacts app because there is no vCard import option like in the old app. And I can't add contacts manually because of an string conversion error or something like that (didn't had a closer look at that problem yet).
I will look after this maybe next month...

[2016-03-15 03:52] skjnldsv commented on #19
You can easily import your contacts manually in the database if you want
:)

[2016-03-15 20:05] enoch85 commented on #19
I can confirm that the app is working perfect for me on ownCloud 9.

[2016-03-15 20:15] #19 closed, assigned to skjnldsv

[2016-03-16 23:04] valentin8709 opened #24 "Little insignificant request"
Hi! Thanks again for your work =) Just a little insignificant request from a maniacal guy: could you rename the app in the menu from "fbsync" to "FBsync", or with just one uppercase but every app name begin with an uppercase letter...

Sorry for that, and thank you!

[2016-03-17 04:00] #24 closed, assigned to skjnldsv

[2016-03-17 08:16] valentin8709 commented on #24
Thank you very much =D

[2016-03-19 03:49] skjnldsv commented on #24
:)

[2016-05-04 07:33] ralin3 opened #25 "Internal Server Error 9.0.2 (I think its parsing of my contacts)"
Hi,
When pressing "Match contacts" and/or "Sync matched contacts" I get the "Internal Server Error" from Owncloud, server.log (http://pastebin.com/T1k3Jd22)

This didnt work with 9.0.1 from packages, and still doesn't work after 9.0.2
Reading the log, Im sure it is because of a corrupt contact or something.
(Davdroid is also throwing me errors on my phone regarding a object.)

This is obviously so

[2016-05-04 15:28] skjnldsv commented on #25
Hello! :)
You guessed right, this is because o one of your contact that doesn't follow the vcard requirements, aka corrupted! :(
The problem is the log being truncated. On the line `Parser\MimeDir->parse('BEGIN:VCARD\r...` if you had the full log, you will be able to get the contact data :)

[2016-05-04 20:12] ralin3 commented on #25
How could I get the full log? I thought I had that already.

[2016-05-06 05:55] ralin3 commented on #25
I managed to fix my issue by restoring a backup, but could it be possible to create a better errormessage of sort?
Or is it limited to what owncloud(-core) can give you?

[2016-05-06 07:23] skjnldsv commented on #25
This is a good question!
I will probably need to do something yes! :)

[2016-05-11 18:45] enoch85 opened #26 "Get this app approved"
Hi John,

Now when you have joined the ownCloud team you should get this app approved IMHO. Check this out and talk to the devs: https://doc.owncloud.org/server/9.0/developer_manual/app/publishing.html#approved

Thanks for your great work!

[2016-05-12 02:51] skjnldsv commented on #26
I need to rebuild this app before! :p
Now that we have dav in core, I could go full javascript. I'm not really sure this app is 100% secure, I created it pretty easily, and didn't really make any audit on it for now. I will think of it later :)

Thanks!

[2016-05-12 09:49] enoch85 commented on #26
Please do rebuild it. Would be awesome.

Best regards
Daniel Hansson
www.techandme.se
Sent from Nexus 5x, sorry for typos.

[2016-05-12 16:37] skjnldsv commented on #26
I'm not a developer full time, I don't really have a lot of free time these days! :/

[2016-05-14 16:59] ralin3 commented on #25
So, I managed to "track" this down.
It is actually because of FBSync - I can reproduce it 100% of the time when trying to write to a few contacts which don't have any pictures at all before matching them.

All my other contacts had pictures before, except two - when I match those two and sync, everything related to contacts crash.

Is there any way I can provide some logs or something so we can tr

[2016-05-20 23:24] enoch85 commented on #26
@skjnldsv I understand, I see you spend a lot of time in the ownCloud core apps though ;)

[2016-05-21 06:30] skjnldsv commented on #26
Eheh! It's much quicker to fix some bugs here and there than rebuild an entire app ! ^^

[2016-05-21 10:53] enoch85 commented on #26
One small step at the time... :D I can ask around if any of my programmer friends are available to help you, @ezula maybe?

[2016-05-21 15:26] skjnldsv commented on #26
:)
Well, it's a free opensource app! Anyone can rebuild it if they want.

[2016-06-09 13:15] vasyugan opened #27 "cannot login"
I enter my credentials and get a popup dialogue saying "you are now connected" but a message on the lower left corner says I am now. the following is in the log:

{"reqId":"ijmLHMxMteAPlgmN0Z05","remoteAddr":"87.160.149.111","app":"PHP","message":"curl_setopt_array(): CURLOPT_FOLLOWLOCATION cannot be activated when an open_basedir is set at \/var\/www\/user_web\/chroot\/htdocs\/org.org\/www\/oc\/a

[2016-06-09 13:33] skjnldsv commented on #27
See #18 :)

[2016-06-09 13:34] #27 closed, assigned to nobody

[2016-06-09 14:52] vasyugan commented on #18
you mean it cannot be set _at all_? It seems that makes the app unsuitable for many installation.

[2016-06-09 16:42] skjnldsv commented on #18
Apparently not! :)
I haven't had the time to look at it more precisely for now. sorry!

[2016-06-13 10:44] ralin3 commented on #25
Anyway I can assist more with tracking this issue down?
I tried adding a random picture to a contact, and then overwriting the picture from facebook, but the same issue happens.

[2016-06-13 10:49] skjnldsv commented on #25
Well, to be fair, I don't have the time to manage and fix this app! It works on most of the people who tried it, but some (like you) have some issues.
I'm sorry! :/

[2016-06-14 05:17] ralin3 commented on #25
I was a bit annoyed with this, so I started to dig deeper.

I did not find the root cause, but at least I found a workaround.

Apparently there is something wrong with the contacts I create on my phone and then sync.
I noticed that contacts created in OC had alot more fields available for editing than the ones created on my phone.
I therefore recreated the contacts in OC, and deleted the ones I ha

[2016-06-14 05:17] #25 closed, assigned to nobody

[2016-10-20 10:58] Gerii opened #28 "Syncing images causes SabreDAV exception"
Nextcloud version: 10.0.1
Contacts version: 1.4.0
FBSync version: 1.8.2

Syncing certain contacts with this app causes a broken address book. This causes the contacts app to fail to load completely (https://github.com/owncloud/contacts/issues/430) and it's also impossible to access the address book containing the broken contacts via CardDAV clients. The following error gets added to the log whenev

[2016-10-20 12:50] skjnldsv commented on #28
Pleas send it! :)
Thanks.

[2016-10-20 13:16] Gerii commented on #28
Couldn't find a way to contact you personally, but I was able to replace the image and other personal information, so I'm just going upload it here. Just rename it to vcf and import it via the contacts app and then sync it with any of your Facebook friends.
[Testfile.txt](https://github.com/skjnldsv/Owncloud-FBSync/files/541761/Testfile.txt)

[2016-10-20 13:19] skjnldsv commented on #28
Does the line 18 matches the testfile? if not, what is on the line18?
You can contact me at skjnldsv@protonmail.com 😃

[2016-10-20 13:34] Gerii commented on #28
In this case it was line 15, but the error only happens _after_ FBSync has been used on this particular contact. As is, the contact is still considered valid by SabreDAV. Unfortunately it's not possible to extract the contact once the address book is broken.

[2016-10-20 13:37] skjnldsv commented on #28
do you have access to your database?
Or yo ucan go there to download your addressbook entirely: https://domain.name/remote.php/dav/addressbooks/users/

[2016-10-20 13:51] Gerii commented on #28
Currently I don't have access, and the address book download is broken too once a contact in it is broken.

[2016-10-20 13:53] skjnldsv commented on #28
Damn! This is going to be hard for as I don't know what is causing the issue! :/

[2016-10-20 13:54] Gerii commented on #28
Can you reproduce it on your ownCloud/Nextcloud instance?

[2016-10-20 13:55] skjnldsv commented on #28
I'm going to try! :)

[2016-10-20 14:13] skjnldsv commented on #28
Welll, I can't reproduce, syncing works fine on my nc10 installation! :/

[2016-10-20 18:15] Gerii commented on #28
That's weird. I will have a look at the database on the weekend if I find some time.

[2017-01-18 20:02] jancborchardt opened #29 "Get it running again and publish it to the Nextcloud appstore :)"
Hey @skjnldsv I didn’t realize this awesome app is made by you. :D I don’t have a Facebook account, but I think this kind of data migration tool is really great!

So let’s get this polished up and publish it to https://apps.nextcloud.com!

Then we can also work on some design improvements (I’m happy to contribute), and maybe even add more connectors like Twitter etc.

[2017-01-18 20:28] skjnldsv commented on #29
Ahahaha, you're not the first to ask 😆
This app is long time forgotten :)

I need to find the time to rebuild it from scratch, and I'm too busy with the scss and the contacts app :'(

[2017-01-26 18:43] kamil7732 opened #31 "Internal Server Error"
Internal Server Error
The server encountered an internal error and was unable to complete your request.
Please contact the server administrator if this error reappears multiple times, please include the technical details below in your report.
More details can be found in the server log.

Exception: {"Exception":"Doctrine\\DBAL\\Exception\\DriverException","Message":"An exception occurred while exe

[2017-01-26 18:47] kamil7732 commented on #31
ok mysql xD

[2017-01-26 18:47] #31 closed, assigned to nobody

[2017-02-08 01:16] ghost commented on #29
FYI, if you add in the proper min and max versions for current Nextcloud, this app still works perfectly fine.

[2017-02-08 08:15] skjnldsv commented on #29
@zerojay Yep, but will be broken on 12 😞

[2017-02-09 10:13] Happyfeet01 commented on #29
stop working in nextcloud 11

i get this warning:

[code]
and this:

[code]

[2017-02-13 09:40] enoch85 commented on #29
Would be great to get this in Nextcloud. My pictures haven't been updated for about a year.

[2017-02-13 13:17] skjnldsv commented on #29
I knooooooow! 😢

[2017-02-13 15:44] ghost commented on #29
It's working just fine for me here on Nextcloud 11.0.1. :)

[2017-02-13 15:46] skjnldsv commented on #29
@zerojay It will stop soon when you update :p

[2017-02-13 15:50] enoch85 commented on #26
Now when it's in the Nextcloud Appstore (soonish) this issue is invalid, right? @skjnldsv

[2017-02-14 09:07] ezula commented on #26
Oh, forgot to answer your question the 21:th of May 2016, sorry @enoch85 ;) Guess this is not relevant any more :)

[2017-02-14 09:13] enoch85 commented on #26
@ezula Hehe, better late than never. Ofc you are welcome to participate. :)

[2017-02-14 10:19] jancborchardt commented on #29
So at least increasing the max-version to 11 would be a quick fix. :)

[2017-02-14 10:48] skjnldsv commented on #29
Please stop guys! This app won't be back soon. 😞

[2017-03-01 22:22] Mte90 opened #32 "Release for nextcloud 11"
I saw that in my installation with nextcloud 11 is not available and in the store is available only for the 11.

[2017-03-24 11:16] jospoortvliet commented on #32
Any update on this, @skjnldsv  ?? ;-)

Just promoted the app over twitter but ofc - [this question came up quickly!](https://twitter.com/Gwmngilfen/status/845232411805921281)

[2017-03-28 07:42] skjnldsv commented on #32
@jospoortvliet but this app is deaaad! :(
https://github.com/skjnldsv/fbsync/issues/29

[2017-03-30 19:20] enoch85 commented on #32
"Hey, let's create an app that many will like and then not maintain it."

Sorry, just had to.

[2017-04-03 14:26] skjnldsv commented on #32
@enoch85 Since I'm not a dev anymore, I don't have the time to. 😢

[2017-04-03 14:32] enoch85 commented on #32
@skjnldsv But you created it right? So you should at least make it compatible with the latest versions. Please correct me if I'm wrong.

And about time, I spend all my free time on Tech and Me and the Nextcloud VM. Call me lonely, but it's all about priorities. ;)

[2017-04-28 09:37] jancborchardt commented on #32
@jospoortvliet @skjnldsv @enoch85 maybe do a call for contributors over Twitter/Facebook/Google+? From the people who use it there’s gotta be some who can contribute to it.

[2017-04-28 09:48] Mte90 commented on #32
It is understandable that a dev doesn't have time when he is contributing to many projects (this happen to serious and addicted contributor) but I think that promote it or move in an organization can help to find someone that want to contribute.
Actually this is a killer feature and I am using an app for Android for this but I think that is something that is better if run server side.

[2017-04-28 11:49] enoch85 commented on #32
@skjnldsv What is the required skills to maintain this? PHP?

[2017-04-30 17:51] skjnldsv commented on #32
Php and js mostly.

[2017-04-30 19:28] enoch85 commented on #32
@ezula Perfect for you! :D

[2017-05-02 08:12] ezula commented on #32
@enoch85 Maybe it is, but i'm not sure I have the time right now to dig into this.. :/

[2017-05-28 17:36] jospoortvliet commented on #32
I've asked on twitter again, see if somebody bites ;-)

We could then perhaps move it to the Nextcloud project so multiple ppl could help, review etc.

[2017-06-01 19:04] jancborchardt commented on #32
Yeah, this is quite a good data liberation app, so we should try and support it. @skjnldsv would you be up for moving it to the @Nextcloud organization?

cc @karlitschek @LukasReschke

[2017-06-05 13:16] enoch85 commented on #32
Yes please, could we move it to the Nextcloud organization?

[2017-06-09 09:51] skjnldsv commented on #32
@jancborchardt Of course!

[2017-06-21 15:21] jospoortvliet commented on #32
@LukasReschke can  you help move it?

[2017-07-23 19:29] enoch85 commented on #32
Ping @LukasReschke Please? :)

[2017-07-24 08:01] skjnldsv commented on #32
I may have the time to work on it again this summer. I'll keep you updated on August. :)

[2017-08-02 07:15] jospoortvliet commented on #32
Are you saying you will come to the Nextcloud Conference and give a talk about what you plan to do with the app? How great of you! We would be glad to sponsor your travel and hotel! Just sent me an email...

🙈 🙉 🙊

[2017-08-02 11:50] skjnldsv commented on #32
@jospoortvliet Please, talk to my boss about it! 😂
More seriously, I'm sorry to decline this offer, I would love to, but can't. 🙁

[2017-08-02 15:00] jospoortvliet commented on #32
that's very sad... Maybe next time 🎂  ?? 😀

[2017-08-02 18:24] skjnldsv commented on #32
@jospoortvliet I would love to!!! 😊

[2017-08-05 07:53] jospoortvliet commented on #32
Stay tuned as I'll already start talking to the TU about next year within a month after the end of the conference. Hopefully we'll have dates for 2018 by the end of this year 😄

[2017-08-05 12:57] enoch85 commented on #32
@jospoortvliet Sign me up! Will send you an email later.

[2018-02-27 12:35] #26 closed, assigned to nobody

[2018-03-01 12:19] #28 closed, assigned to nobody

[2018-03-01 12:19] #29 closed, assigned to nobody

[2018-03-01 12:19] #32 closed, assigned to nobody